
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<h2>My profile</h2>
<div class="col-md-6 profile-cards">
    <div class="thumbnail">
        <p>
            UserName: @Model.DisplayName<hr />
            @Model.Avatar<hr />
            Birthday: @Model.Birthdate<hr />
            Gender: @Model.Gender<hr />
            Gender Seeking: @Model.GenderSeeking<hr />
            A little about me: @Model.AboutMe<hr />
            Current Activity: @Model.JsonAttributes<hr />
        </p>
    </div>


</div>
Here for design, set up functionality*@