@model IEnumerable<FurryTry2.Entities.Shareable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PointValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avatar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShareablesId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShareablesId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShareablesId })
        </td>
    </tr>
}

</table>
